.button-68 {
    color:white;
    background-color: #C3D7CC;
    border-radius: 8px; border-style: none; 
    cursor: pointer; display: inline-block; 
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif; 
    font-size: 16px; font-weight: 600; letter-spacing: normal; 
    line-height: 1.5; outline: none; overflow: hidden; padding: 13px 20px; 
    position: relative; 
    text-align: center; 
    text-decoration: none;  
    transition: all .3s; user-select: none; 
    -webkit-user-select: none; 
    touch-action: manipulation; 
    vertical-align: top; 
    white-space: nowrap; 
} 

.button-68:hover { 
    background-color: #1e8449; 
    opacity: 1; 
    transform: translateY(0);
     transition-duration: .35s; } 

.button-68:active { 
    transform: translateY(2px); 
    transition-duration: .35s; 
} 

.button-68:hover { 
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px; 
}

.addIngredients { 
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}